{% for post in page_obj %}
    <ul>
      {% if display_author %}
      <li>
          Автор:
        <a href="{% url 'posts:profile' post.author.username %}">
          {{ post.author.get_full_name }}
        </a>
      </li>
      {% endif %}
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
      {% if display_group %}
      <li>
        Группа:
          {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}">
                {{ post.group }}
            </a>
          {% else %}
            <a>Отсутствует</a>
          {% endif %}
      </li>
      {% endif %}
    </ul>

    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}

    <p>{{ post.text }}</p>

    <a href="{% url 'posts:post_detail' post.pk %}"
    >подробная информация</a>
    <br>

    {% if display_group %}
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">
            все записи группы
          </a>
        {% else %}
          <a>Записи в группе отсутствуют</a>
        {% endif %}
    {% endif %}

    {% if not forloop.last %}<hr>{% endif %}
{% endfor %}