{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <hr>
    <h1>{{ group.title }}</h1>
    <p>
      {{ group.description }}
    </p>
    <hr>
    <article>
      {% include 'posts/includes/post_list.html' with display_author=True %}
      {% comment %}
        {% for post in posts %}{% endfor %}
      {% endcomment %}
    </article>
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}